<h1>{{ poll.question }}</h1>



<div id="numlikes">{{ poll.likes }} likes</div>
<a href="javascript:DoPost()">like</a>
<br/>
popularity =
{{ poll.popularity }}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' poll.id %}" method="post">
{% csrf_token %}
{% for choice in poll.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="text" name="other" id="other" />
<label for="other">Write In Option</label><br />
<input type="submit" value="Vote" />
</form>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>
   function DoPost(){
      $.post( "{% url 'polls:like' poll.id %}", { csrfmiddlewaretoken: '{{ csrf_token }}' }, 
      function( data1 ) {
          $.get( "{% url 'polls:likes' poll.id %}", function( data ) {
              $( "#numlikes" ).html( data + " likes" );
          });
      });
   }
</script>
